/* Base Application Styles */
@import 'variable';
ul,ol,li{
  margin:0;
  padding:0;
  list-style-type:none;
}

body {
  color: $co_bgc_00;
  background: $co_bgc_f3;
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif ,"微软雅黑";
}
.head {
  background: $co_bgc_10;
  height:60px;
  line-height:60px;

  @at-root {
    .logo{
      color:$co_txt_ff;
      float:left;
      font-size:18px;
      padding:0 0 0 20px;
    }
    .nav {
      color:$co_txt_ff;
      float:right;
      @at-root {
        ul {}
        li {
          float:left;
          padding:0 15px;
          font-size: 14px;
        }
        li:hover {
          background: $co_icon_06;
          cursor: pointer;
        }
      }
    }
  }
}
.content {
  background: $co_bgc_f3;
}
//讨论版
.discuss {
  width: 90%;
  padding:10px;
  margin:0 auto;
  @at-root {
    .discuss_head {
      background: $co_txt_ff;
      border-radius:4px;
      @at-root {
        .discuss_text {
          height:60px;
          /**/
          textarea {
            border:0px;
            width:100%;
            height:100%;
            resize:none;
            padding:5px;
          }
          /**/
          textarea:focus {
            border:none;
            outline:none;
          }
        }
        /**/
        .discuss_option {
          border-top:1px solid $co_txt_dd;
          padding:5px;
          /**/
          text-align:right;
          .ant-btn {
            border-radius:4px;

          }
          /**/
          .option_icon {
            float:left;
            font-size:14px;
            /**/
            i {
              padding:5px; cursor: pointer;
            }
          }
        }

      }
    }
    .discuss_list {
      padding:20px 0;
      .discuss_item {
        background: $co_txt_ff;
        border-radius:4px;
        margin:0 0 8px 0;
        .dis_item_head{
          height:30px;
          padding:5px;
          @at-root {
            .item_head { width:30px; height:30px; border-radius:50%; background: $co_bgc_f3; float:left; line-height: 30px; text-align: center; font-size: 26px; font-weight: bold; color: $co_icon_01; }
            .item_name { height:30px; float:left; line-height:30px; padding:0 5px;}
            .item_date { height:30px; float:left; line-height:30px; }
          }
        }
        .dis_item_cont { clear: both; padding: 10px 10px 10px 40px; font-size: 14px; border-bottom:1px solid $co_bgc_f3;
          @at-root {
            .item_operate { text-align:right;
              span { font-size:12px; padding:0 5px; cursor: pointer; }
              span.sign { color:$co_icon_01; }
              span.unmark {}
            }
          }
        }
        .dis_item_reply {
          .rep_item {clear: both; padding: 10px 0px 10px 40px; font-size: 14px;}
          .dis_item_cont { border:0; }
          @at-root {
            .repitem_head {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background: $co_bgc_f3;
              float: left;
              line-height: 30px;
              text-align: center;
              font-size: 26px;
              font-weight: bold;
              color: $co_icon_01;
            };
            .repitem_name {
              height:30px; float:left; line-height:30px; padding:0 5px;
            };
            .repitem_date {
              height:30px; float:left; line-height:30px;
            };
          }
        }
      }
    }
  }
}
