/* Variable Store  */

$co_icon_06 : #064e87;
$co_icon_01 : #0171ca;
$co_icon_0c : #0c416c;

$co_bgc_10 : #101010;
$co_bgc_16 : #161616;
$co_bgc_f3 : #f3f3f3;
$co_bgc_00 : #000105;

$co_line_c5 : #c5c5c5;

$co_txt_00 : #005a9f;
$co_txt_66 : #666;
$co_txt_99 : #999;
$co_txt_ff : #fff;
$co_txt_dd : #ddd;


